:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: #0c151c;
  --button-hover: #040a0f;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(0, 0, 0);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-body);
}

.body-sections {
  position: relative;
  padding: 0 10px;
}

.show-rigth, .show-left{
  display: none;
}

/* first section */

.Dr-mario-FirstSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1em;
}

.Dr-mario-FirstSection::before {
  content: "";
  background-image: url("../../images/isotipo blanco.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:-50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  opacity: 0.05;
  z-index: -1;
}

.header__Dr-mario-FirstSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 20px;
}

.subtitle__Dr-mario-FirstSection {
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 0 15px #040a0fd7;
}

.title-mario-FirstSection {
  font-size: 1.2em;
  margin: 0;
}

/* preguntas frecuentes */

.preguntas-frecuentes-home {
  display: block;
}
/* filters Section */

.title-products-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2.5em;
  text-transform: uppercase;
}

.filters-Container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-filters {
  position: absolute;
  top: -2.5em;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.search-content__filters {
  position: absolute;
  z-index: 1000;
  top: -2.5em;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
}

.search-content__filters > input {
  width: 90%;
}

.search-content__filters > label {
  cursor: pointer;
}

.filters__content,
.filters__content-on {
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: width ease-in-out 0.2s;
  margin: 10px auto;
}

.filters__content-on {
  width: 100%;
  height: auto;
}

.filters__content-on > div > label,
.filters__content > div > label {
  color: white;
  text-transform: uppercase;
}
.filters__content-on > div,
.filters__content > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.price-from > span {
  font-size: large;
}

.button-filters:focus {
  box-shadow: none;
}

.Productos {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

/* pagination */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
}

/* cart */

.input-button__Cart {
  position: absolute;
  top: -200px;
}

.button__Cart {
  position: fixed;
  top: 40px;
  right: 15px;
  z-index: 6000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #040a0f9d;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color ease-in-out 0.2s,
    transform ease-in-out 0.2s;
}

.number-products__Cart {
  position: absolute;
  right: 0px;
  top: -3px;
  height: 18px;
  width: 18px;
  background-color: rgb(201, 8, 8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg__Cart {
  display: none;
  position: fixed;
  z-index: 500;
  height: 100vh;
  width: 100vw;
}

.input-button__Cart:checked ~ .bg__Cart {
  display: block;
}

.input-button__Cart:checked ~ .button__Cart {
  background-color: #526980;
}

.aside__Cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  max-height: 100vh;
  width: 100%;
  box-shadow: 0 5px 25px #040a0f;
  padding-bottom: 40px;
  border-radius: 0 0 20px 20px;
  overflow: scroll;
  background-color: #202b38de;
}

.aside__Cart::before {
  content: "";
  min-height: 100%;
  width: 120vw;
  position: absolute;
  z-index: -1;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.aside__Cart-0 {
  position: fixed;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--background);
  background-color: #526980;
  opacity: 0;
  z-index: -1;
  top: 90px;
  right: 16px;
  box-shadow: 0 5px 15px #0c151c;
  transition:
    top ease-in-out 0.2s,
    opacity ease-in-out 0.2s,
    z-index 0.2s;
}

.aside__Cart-0::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 12px solid #526980;
  position: absolute;
  top: -20px;
  right: 0;
  transform: translate(-15px, 9px) rotate(0deg);
}

.aside__Cart::-webkit-scrollbar {
  height: 0;
}

.input-button__Cart:checked ~ .aside__Cart {
  display: flex;
  z-index: 5000;
}

.input-button__Cart:checked ~ .aside__Cart-0 {
  opacity: 1;
  z-index: 10000;
  top: 105px;
  right: 16px;
}

.header__Cart-home {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 25px 20px 20px;
}

.header__Cart-home > h3 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  gap: 10px;
}

.header__Cart-home > h3 > span {
  font-size: 1.5em;
}

.header__Cart-home > img {
  position: absolute;
  width: 10em;
}

.ul__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  padding: 0;
  width: 100%;
}

.card__aside {
  position: relative;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.card__aside > img {
  display: block;
  width: 100%;
  height: 210px;
  object-fit: contain;
  margin: auto;
  filter: drop-shadow(0 0 5px #101316);
}

.data__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-card__aside {
  font-size: 1.2em;
  display: block;
  white-space: nowrap;
}

.text-content__aside {
  margin: 0;
  padding: 5px 0;
}

.cantidad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cantidad > p > span {
  font-size: 1.2em;
  font-weight: bold;
}

.cantidad > button {
  width: 100%;
}

.buttons__aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.completar-compra-buttons__aside {
  display: flex;
  gap: 7px;
  align-items: center;
  color: white;
  background-color: #0c151c;
  padding: 14px 30px;
  border-radius: 10px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.completar-compra-buttons__aside:hover {
  background-color: #040a0f;
  text-decoration: none;
}

/* productos recientes */

.productos-recientes__container {
  position: relative;
  margin: 10px 0;

}

.container-productos__productos-recientes {
  display: flex;
  overflow: scroll;
  gap: 10px;
  padding: 10px;
  scroll-behavior: smooth;

}

.container-productos__productos-recientes::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

.container-productos__productos-recientes > .Card {
  max-width: 60%;
  flex: 1 0 60%;
}

.productos-recientes__container > h2 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.1em;
}

/* product Section */

.Section-products {
  position: relative;
}

/* products in cart section */

.header__cart-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.header__cart-section::after {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: 0;
  z-index: -1;
  transform: translate(-15em, 10em) scale(1.7);
  opacity: 0.1;
}

.header__cart-section > h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0 0 15px #040a0f;
}

.back-to-home__cart-section {
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-conteiner__cart-section {
  background-size: cover;
  background-position: 90%;
}

.card__cart-section {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 1px solid #0c151c77;
  box-shadow: 0 0 15px #161f27;
  background-color: #161f27d5;
}

.card__cart-section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  backdrop-filter: blur(15px);
}

.title-prodcuts-cart {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 1.5em;
}

.img-card-content__cart-section {
  width: 60%;
}

.img-card-content__cart-section > img {
  width: 100%;
  height: 100%;
}

.data-card__cart-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 7px 10px 5px;
}

.data-cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 2em;
}

.data-card__cart-section > strong {
  font-size: 1.2em;
  text-transform: uppercase;
}

.buttons__cart-section {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.button-finalizar-compra {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040a0f;
  padding: 0;
  width: 11em;
  height: 3em;
  border-radius: 10px;
}

.button-finalizar-compra > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}

.button-finalizar-compra > a:hover {
  text-decoration: none;
}
/* sin productos */

.cart-section-no-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cart-section-no-products > i {
  font-size: 4em;
}

.no-products__cart-section {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
}

.voler-tienda__cart-section {
  background-color: #161f27;
  display: block;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0;
  box-shadow: 0 0 10px #040a0f7a;
}

/* orden de compra */

.orden-compra {
  position: relative;
  z-index: 1000;
  width: 95%;
  margin: 0 auto 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #040a0f;
  box-shadow: 0 0 15px #040a0f5d;
  padding: 10px 20px;
  border-radius: 10px;
}

.header__orden-compra > h2 {
  display: block;
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.header__orden-compra > strong {
  display: block;
  font-size: 1.2em;
}

.header__orden-compra > small {
  display: block;
}

.section-input__orden-compra {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  margin-top: 20px;
}

.provincia__orden-compra {
  width: 100%;
}

.input-container {
  width: 100%;
}

.input-container > input {
  width: 100%;
}

.terminos-condiciones__orden-compra {
  text-align: center;
}
/* orden enviada */

.section-orden-Enviada::after {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: 100px;
  left: -290px;
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.04;
}

.Done-icon__orden-Enviada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  width: 100%;
}

.Done-icon__orden-Enviada span {
  position: relative;
  z-index: 100;
  font-size: 3.5em;
  font-weight: 600;
  color: white;
  margin-top: 50px;
  transform: scale(1.4);
}

.Done-icon__orden-Enviada span::after,
.Done-icon__orden-Enviada span::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #008a0094;
}

.Done-icon__orden-Enviada span::after {
  animation: pulse2;
  animation-duration: 2s;
  animation-delay: 0.3s;

  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

.Done-icon__orden-Enviada span::before {
  animation: pulse1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

.Done-icon__orden-Enviada > p {
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 15px #040a0f86;
}

.section-orden-Enviada > h1 {
  font-size: 1.6em;
  text-align: center;
  text-shadow: 0 0 15px #040a0f86;
}

.section-orden-Enviada > p {
  font-size: 1.2em;
  padding: 0 5px;
  text-align: center;
}

.Home__orden-Enviada {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 30px auto 0;
  background-color: #161f27;
  padding: 10px 15px;
  border-radius: 10px;
}
.Preguntas-frecuentes__orden-Enviada {
  display: block;
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

@keyframes pulse1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes pulse2 {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.7);
    opacity: 0.3;
  }
}

/* preguntas Frecuentes */

.preguntas-frecuentes {
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.preguntas-frecuentes::after {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: 100px;
  left: -290px;
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.04;
}

.preguntas-frecuentes::before {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: calc(200px + 100vh);
  right: -200px;
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.04;
}

.preguntas-frecuentes > h1 {
  font-size: 1.5em;
  text-align: center;
  position: relative;
}

.preguntas-frecuentes h1::before {
  content: url("../../images/isotipo\ blanco.png");
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.15;
  height: 5em;
  width: 5em;
  margin: 0 auto 20px;
}

.preguntas {
  width: 98%;
  margin: auto;
  padding: 0 0.5em;
  border-left: 1px solid rgb(238, 238, 238);
}

.pregunta {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 3em 0;
  text-align: justify;
}

.back-to-home {
  transform: translateY(-10px);
  position: relative;
  z-index: 1000;
}

/* terminos y condiciones */
.tyc-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0.5em;
}

.tyc-container::after {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: 100px;
  left: -290px;
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.02;
}

.tyc-container::before {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: calc(200px + 100vh);
  right: -200px;
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.02;
}

.tyc-container h1 {
  display: block;
  width: 300px;
  margin: 10px auto;
  font-size: 1.1em;
  text-align: center;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

.tyc-container h1::before {
  content: url("../../images/isotipo\ blanco.png");
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.15;
  height: 5em;
  width: 5em;
  margin: 0 auto 20px;
}

.ol-tyc {
  width: 98%;
  margin: auto;
  padding: 0 0.5em;
  border-left: 1px solid rgb(238, 238, 238);
}

.card-tyc {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  text-align: justify;
}

.card-tyc > h3 {
  text-transform: uppercase;
  text-align: left;
}

.tyc-container > strong {
  display: block;
  text-align: center;
  font-weight: 300;
}

.footer-tyc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #040a0f;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-tyc h4 {
  text-align: center;
  margin: 0;
}
/* guia de talles */

.back-home {
  position: absolute;
  top: 10px;
  left: 20px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-home > span {
  transform: rotate(90deg);
}

.guia-talles-conteiner {
  position: relative;
  padding: 10px;
  padding-top: 0;
}

.guia-talles-conteiner::before {
  content: url("../../images/isotipo\ blanco.png");
  position: absolute;
  top: 100px;
  left: -290px;
  z-index: -1;
  transform: scale(1.3);
  opacity: 0.04;
}

.header__guia-talles-conteiner > h2 {
  text-transform: uppercase;
  text-align: center;
}

.header__guia-talles-conteiner > img {
  display: block;
  width: 3.5em;
  margin: auto;
}

.header__guia-talles-conteiner,
.article-section__guia-talles-conteiner {
  padding: 10px;
  border-left: 1px solid white;
}

.article-section__guia-talles-conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-section__guia-talles-conteiner > strong {
  position: relative;
  font-size: 1.2em;
}

.article-section__guia-talles-conteiner > strong::before {
  content: "";
  position: absolute;
  left: -0.5em;
  top: 1em;
  width: 0.3em;
  height: 1px;
  display: block;
  background-color: white;
}

.img-conteiner__guia-talles-conteiner {
  height: 12em;
  width: 100%;
}

.img-conteiner__guia-talles-conteiner > img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* footer */

.footer-principal {
  background-color: #0c151ce1;
  padding: 10px;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-principal::after {
  position: absolute;
  top: 50px;
  content: url("../../images/isotipo\ blanco.png");
  opacity: .2;
  z-index: -1;
}

.title-section__footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-section__footer > span {
  transform: translateY(7px);
}

.img-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-footer > span {
  transform: translateY(7px);
}

.rrss {
  margin-top: 20px;
  display: flex;
  list-style: none;
  gap: 1em;
}

.rrss > li > a {
  display: block;
  color: white;
  font-size: 2.5em;
}

.metodos-de-pago {
  display: grid;
  list-style: none;
  gap: 0.5em;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}
.metodo {
  display: block;
  background-color: white;
  width: 100%;
  height: 3.5em;
  overflow: hidden;
  padding: 0.5em;
  border-radius: 0 10px;
}

.metodo > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.copy {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  #home,
  .cart-section {
    position: relative;
    z-index: 100;
    max-width: 1000px;
    margin: auto;
  }
  .subtitle__Dr-mario-FirstSection {
    text-align: center;
  }

  .Dr-mario-FirstSection::before{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top ;
    height: 100vh;

  }

  .title-mario-FirstSection {
    text-align: center;
  }

  .filters__content-on > div,
  .filters__content > div {
    width: 20%;
    position: relative;
  }

  .filters__content-on {
    padding: 20px 0;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    box-shadow: 0 0 10px #040a0f80;
    margin: 20px 0;
  }

  .price-from span {
    position: absolute;
    right: 20px;
    font-weight: bold;
  }

  .Productos {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  .aside__Cart {
    width: 23%;
    padding: 0 20px;
  }

  .bg__Cart,
  .input-button__Cart:checked ~ .bg__Cart {
    display: none;
  }

  .card-conteiner__cart-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 20px;
  }

  .card__cart-section {
    width: 48%;
    margin: 0;
  }

  .content {
    width: 50%;
    margin: auto;
  }

  .metodos-de-pago{
    width: 50%;
  }

  .rrss > li > a:hover{
    transform: scale(1.1);
    color: #a9a9a9;
  }


  .tyc-container,
  .preguntas-frecuentes{
    width: 80%;
    margin: auto;
  }

  .ol-tyc,
  .preguntas{
    width: 70%;
  }


  /* recientes */
  .container-productos__productos-recientes > .Card {
    max-width: 60%;
    flex: 1 0 30%;
  }

  /* scroll */

  .show-rigth, .show-left{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    top: 50%;
    background-color: #040a0f;
    border-radius: 50%;
    padding: 5px;
    z-index: 1000;
    cursor: pointer;
    transition: background-color ease-in-out .1s;
  }

  .show-rigth:hover, .show-left:hover{
    background-color: #040a0f9c;
    
  }
  .show-rigth{
    transform: rotate(180deg) scale(1.5);
  }

  .show-left{
    right: -10px;
    transform:  scale(1.5);
  }


  /* guia talles */
  .guia-talles-conteiner {
    padding: 20px 25%;
  }

  .img-conteiner__guia-talles-conteiner {
    height: 18em;
  }

}
