:root {
    --background-body: #202b38;
    --background: #161f27;
    --background-alt: #1a242f;
    --selection: #1c76c5;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --text-muted: #a9b1ba;
    --links: #41adff;
    --focus: #0096bfab;
    --border: #526980;
    --code: #ffbe85;
    --animation-duration: 0.1s;
    --button-base: #0c151c;
    --button-hover: #040a0f;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: rgb(0, 0, 0);
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");

  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--background-body) ;
}

.filters__content, .filters__content-on{
    width: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: width ease-in-out .2s;
    margin:10px  auto;
}

.filters__content-on{
    width: 100%;
    height: auto;
}

form > div > label{
    color: white;
    text-transform: uppercase;
}
form > div{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.price-from > span{
    font-size: large;
}

.button-filters{
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 5px 30px;
    margin-bottom: 10px;
}

.button-filters:focus{
    box-shadow: none;
}

.Productos{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    margin: 0;
    padding: 0;
}


/* cart */

.input-button__Cart{
    position: absolute;
    top: -200px;
}

.button__Cart{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3000;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translate(-15px, 15px);
    background-color: #1c76c5;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transition: background-color ease-in-out .2s, transform ease-in-out .2s;
}

.input-button__Cart:checked ~ .button__Cart{
    background-color: #526980;
    transform: translate(-15px, 15px) scale(.9);
}

.aside__Cart{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
    max-height: 100vh;
    background-color:#161f27fa;
    overflow: scroll;
}
.aside__Cart::-webkit-scrollbar{
    height: 0;
}

.input-button__Cart:checked ~ .aside__Cart{
    display: flex;
}

.ul__aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    margin: auto;
    padding: 0;
    width: 95%;
}

.card__aside{
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__aside > img{
    display: block;
    width: 100%;
    margin: auto;
}

.data__aside{
    display: flex;
    flex-direction: column;
}

.title-card__aside{
    font-size: .8em;
    display: block;
    white-space: nowrap;
}

.text-content__aside{
    margin: 0;
    padding: 5px 0;
}

.cantidad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cantidad > p > span{
    font-size: 1.2em;
    font-weight: bold;
}

.cantidad > button{
    width: 100%;
}


/* productos recientes */

.productos-recientes__container{
    position: relative;
    margin: 10px 0;
}

.container-productos__productos-recientes{
    display: flex;
    overflow: scroll;
    gap: 10px;
    padding: 10px;
}

.container-productos__productos-recientes::-webkit-scrollbar{
    width: 0;
    height: 5px;
}

.container-productos__productos-recientes > .Card{
    max-width: 60%;
    flex: 1 0 60%;
}

  .productos-recientes__container > h2{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.1em;
  }